body {
    background-color: $background-color;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header,

.footer {
    flex: 0 0 auto;
}

.main {
    width: 64em;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}  

.main::-webkit-scrollbar {
    display: none;
}
  

