body {
    background-image: linear-gradient($background-color, $background-alternative-color);
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header,

.footer {
    flex: 0 0 auto;
}

.main {
    width: 64em;
    margin: 0 auto;
    background-color: $mainbackground-color;
}  

.main::-webkit-scrollbar {
    display: none;
}


