.footer {
    display: flex;
    justify-content: center;
    border-top: 4px solid $accent-color;

}

.footer a {
    color: $font-color;
}

.footer .social {
    font-size: 2rem;
}

.social a {
    text-decoration: none;
}
