/*.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    backround-color: $background-color;
    position: relative;
}
*/

.logo {
    float: left;
    padding: 3em 3em 3em 0;

    * {
        display: block;
        height: 100%;
        font-size: 2em;
        text-shadow: 1px 1px #121212;
    }

    img {
        min-width: 4.8em;
        border: none;
    }

}

.logo+.title h1 {
    margin: 0.8rem 0;
}

.site-header {
    display: flex;
    align-items: center;
}

.header {
    border-bottom: 4px solid $accent-color;
}

.site-header a {
    font-weight: bold;
    text-decoration: none;
}

.nav {
    a {
        font-weight: bold;
        font-size: 1.7rem;
        text-decoration: none;
        padding: 0 1rem;
        color: $font-color;
    }

    a:hover {
        border-bottom: 4px solid $accent-color;

    }

    .active a {
        border-bottom: 4px solid $accent-color;
    }
}
