
.imgme {
    max-width: 30%;
    filter: brightness($img-brightness) contrast($img-contrast); 
}



img {
    max-width: 100%;
    border: 1.5px solid $border-color;
    border-radius: 4px;
    padding: 2px;
    width: 280px;
}

img:hover {
    box-shadow: 0 0 2px 1px $hover-color;
}





