@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,700&family=Victor+Mono&display=swap');
// Monokrom färgschema baserat på #424387

$header-font: 'Courier Prime', serif;
$main-font: 'Victor Mono', serif;
$font-color: #d3d3ed;
$font-alternative-color: #d3d3ed;
$accent-color: #8284ff;
$background-color: #3a3a54;
$background-alternative-color: #3a3a54;
$nav-color1: #b5b6ff;
$nav-color2: #b5b6ff;
$nav-color3: #b5b6ff;
$nav-color4: #b5b6ff;
$nav-color5: #b5b6ff;
$nav-color6: #b5b6ff;
$hover-color: #8284ff;
$code-backround-color: #424387;
$code-font: monospace;
$mainbackground-color: #3a3a54;
$base-font-size: 1em;
$img-brightness: 0.8;
$img-contrast: 1.2;
$border-color: #d3d3ed;
