@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Young+Serif&display=swap');

$header-font:'Gabarito', sans-serif;
$main-font:'Young Serif', serif;
$font-color: #333;
$font-alternative-color: #fff;
$accent-color: silver;
$background-color: white;
$background-alternative-color: #e0fbfc;
